$cover-spacing: 40px;
$tablet-text-top-offset: 40px;
$desktop-text-top-offset: 70px;

.Cover {
  color: $white;
  background-image: url("../images/Confetti.svg");
  margin-bottom: $large-spacing;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media($min-tablet) {
    // background-image: url("../../assets/images/Dev_TogetherCoverImage.jpg");
    /* Full height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }

  &-text {
    text-align: center;
    margin-top: $base-spacing;
    position: relative;

    @include media($min-desktop) {
      max-width: $desktop-text-width;
    }
  }

  &-subtitle {
    font-weight: $bold-font-weight;
    font-size: $med-font-size;
    font-family: $serif-font-family;
    position: absolute;
    left: 0;
    top: 0px;

    @include media($min-tablet) {
      font-size: $med-lg-font-size;
      top: $tablet-text-top-offset;
    }

    @include media($min-desktop) {
      font-size: $large-font-size;
      top: $desktop-text-top-offset;
    }
  }
}
