* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: $white;
}

html {
  -webkit-tap-highlight-color: rgba($white, 0);
}

body {
  display: table;

  @include media($min-desktop) {
    margin-bottom: 872px;
  }

  > article {
    @include media($min-desktop) {
      padding-bottom: $large-spacing;
    }
  }
}

#root > * {
  padding: 0 $small-spacing;

  @include media($min-desktop) {
    padding: 0 $large-spacing;
  }

  &:first-child {
    padding-top: $large-spacing;
  }

  &:last-child {
    padding-bottom: $large-spacing;
  }
}

%clearfix,
.clearfix {
  @include clearfix;
}

.icon {
  svg {
    width: 30px;
    height: 30px;
    fill: $deep-green;
  }
}

.Page {
  .Section-heading + .Grid {
    @include media($min-desktop) {
      padding-top: $large-spacing;
    }
  }
}
