.Pause {
  border: 1px solid $white;
  background-color: $dark-green;
  color: $white;
  font-size: $small-font-size;

  position: absolute;
  padding: $small-spacing / 2 $base-spacing / 4;

  top: 25px;
  right: $small-spacing;

  @include media($min-tablet) {
    padding: $small-spacing / 2 $base-spacing / 2;
  }

  @include media($min-desktop) {
    top: 50px;
    right: $large-spacing;
  }
}

.Confetti {
  display: none;

  @include media($min-desktop) {
    display: inline-block;
    position: absolute;
    animation: confetti-fade 6s linear infinite;
  }
}

$large-confetti: 462px;
$med-confetti: 200px;
$small-confetti: 175px;
$first-position-top: 120px;
$first-position-left: initial;
$first-position-right: -130px;
$second-position-top: 360px;
$second-position-left: 200px;
$second-position-right: initial;
$third-position-top: 700px;
$third-position-left: -100px;
$third-position-right: initial;
$fourth-position-top: 650px;
$fourth-position-left: initial;
$fourth-position-right: 230px;

@keyframes confetti-fade {
  0% {
    opacity: 0;
    width: $large-confetti;
    top: $first-position-top;
    left: $first-position-left;
    right: $first-position-right;
  }
  12% {
    opacity: 1;
  }
  24% {
    opacity: 0;
    width: $large-confetti;
    top: $first-position-top;
    left: $first-position-left;
    right: $first-position-right;
  }
  25% {
    opacity: 0;
    width: $small-confetti;
    top: $second-position-top;
    left: $second-position-left;
    right: $second-position-right;
  }
  37% {
    opacity: 1;
  }
  49% {
    opacity: 0;
    width: $small-confetti;
    top: $second-position-top;
    left: $second-position-left;
    right: $second-position-right;
  }
  50% {
    opacity: 0;
    width: $large-confetti;
    top: $third-position-top;
    left: $third-position-left;
    right: $third-position-right;
  }
  62% {
    opacity: 1;
  }
  74% {
    opacity: 0;
    width: $large-confetti;
    top: $third-position-top;
    left: $third-position-left;
    right: $third-position-right;
  }
  75% {
    opacity: 0;
    width: $med-confetti;
    top: $fourth-position-top;
    left: $fourth-position-left;
    right: $fourth-position-right;
  }
  87% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: $med-confetti;
    top: $fourth-position-top;
    left: $fourth-position-left;
    right: $fourth-position-right;
  }
}

.Sponsor {
  padding: $small-spacing;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media($min-desktop) {
    grid-column-end: span 3;
  }

  &--premium {
    @include media($min-desktop) {
      grid-column-end: span 4;
    }
  }
}
