@import "normalize";
@import "variables";
@import "mixins";

@import "globals";
@import "button";
@import "typography";
@import "lists";

@import "hamburgers";

@import "navbar";
@import "footer";
@import "cover";
@import "content";
@import "statistics";

.Confetti {
  display: none;

  @include media($min-desktop) {
    display: inline-block;
    position: absolute;

    &--small {
      width: 175px;
    }

    &--med {
      width: 200px;
    }

    &--large {
      width: 462px;
    }

    &--one {
      top: 120px;
      right: -130px;
      animation: fade 3s ease-in-out infinite;
      animation-delay: 1s;
    }

    &--two {
      top: 360px;
      left: 200px;
      animation: fade 2.5s ease-in-out infinite;
      animation-delay: 2.5s;
    }

    &--three {
      top: 700px;
      left: -100px;
      animation: fade 4s ease-in-out infinite;
      animation-delay: 3.5s;
    }

    &--four {
      top: 650px;
      right: 230px;
      animation: fade 2s ease-in-out infinite;
      animation-delay: 1.5s;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Sponsor {
  padding: $small-spacing;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media($min-desktop) {
    grid-column-end: span 3;
  }

  &--premium {
    @include media($min-desktop) {
      grid-column-end: span 4;
    }
  }
}
