@import "normalize";
@import "variables";
@import "mixins";

@import "globals";
@import "button";
@import "typography";
@import "lists";

@import "hamburgers";

@import "navbar";
@import "footer";
@import "cover";
@import "content";
@import "statistics";

.Confetti {
  display: none;

  @include media($min-desktop) {
    display: inline-block;
    position: absolute;

    &--small {
      width: 175px;
    }

    &--med {
      width: 200px;
    }

    &--large {
      width: 462px;
    }

    &--one {
      top: 120px;
      right: -130px;
    }

    &--two {
      top: 360px;
      left: 200px;
    }

    &--three {
      top: 700px;
      left: -100px;
    }

    &--four {
      top: 650px;
      right: 230px;
    }
  }
}

.Sponsor {
  border: 1px solid $gray;
  padding: $small-spacing;
  display: flex;
  justify-content: center;
  align-items: center;

  &--premium {
    border: 2px solid $dark-gray;

    @include media($min-desktop) {
      border: 1px solid $gray;
      grid-column-end: span 2;
    }
  }

  @include media($min-desktop) {
    &:nth-child(4n) {
      grid-column-start: 2;
    }
  }
}
